.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
}

.container .left_side {
  position: relative;
  background: #1b0724;
}
.left_side_content {
  padding: 35px 16px;
  margin: auto;
  width: 99%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(60px);
}

.left_side .ball-2 {
  content: "";
  position: absolute;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background: linear-gradient(#500533, #880853);
  transform: translate(-100px, -100px);
}
.left_side .ball-1 {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#9b0067, #d60a69);
  transform: translate(150px, 780px);
  opacity: 50%;
}
.left_side .ball-3 {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#400775, #6307b9);
  transform: translate(90px, 200px);
  opacity: 40%;
}
.left_side .ball-4 {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#400775, #6307b9);
  transform: translate(-90px, 910px);
  opacity: 50%;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #c917ff;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: #ce2dff;
  font-size: 1.3em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  line-height: 1.2em;
}

.profileText .bio-text {
  color: white;
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
}
.profileText .bio-text p {
  line-height: 1.6em;
  opacity: 80%;
}
.profileText .bio-text .first-bio-text {
  font-weight: 500;
}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo ul {
  position: relative;
  padding: 0;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 16px;
  color: #c917ff;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #d035ff;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 600;
}
.contactInfo.education h4:nth-child(3) {
  margin-top: 2px;
  font-size: medium;
  opacity: 90%;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}

.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about .about_text {
  text-align: justify;
  font-size: 15.5px;
  color: #1d1d1d;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  width: fit-content;
  background-color: #c917ff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 1px 10px;
  border-radius: 2px;
}

p {
  counter-reset: #333;
}

.core_skills .list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}
.core_skills .list .skill {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.core_skills .list .skill:hover {
  color: #400775;
}

.core_skills .list .skill .icon {
  font-size: larger;
  color: #400775;
}

.core_skills .list .skill .text {
  font-size: 14px;
}

.professional_skills {
  margin-top: 50px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 30px 150px 1fr;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.skills .skill_icon i {
  font-size: 1.5rem;
}

.language_list .language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #d6aeecbd;
  margin-top: 15px;
  border-radius: 20px;
}

.language_list .language span:nth-child(1) {
  color: #400775;
  font-weight: 600;
  font-size: 16px;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #6e4892;
  font-weight: 500;
}

.skills .box .precent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #d6aeec;
  border-radius: 5px;
}

.skills .box .precent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #5b00b1;
  overflow: hidden;
  border-radius: 5px;
}
