@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------------------------------------------- */
.page {
  width: 21cm;
  min-height: 29.7cm;
  margin: 20px auto;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.subpage {
  height: 29.7cm;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
/* ---------------------------------------------- */

.page_2 {
  height: 29.7cm;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: rgb(160, 139, 187);
}
